@font-face {
    font-family: Chunkfive;
    src: url('fonts/chunkfive-webfont.woff2') format('woff2'),
         url('fonts/chunkfive-webfont.woff') format('woff'),
         url('fonts/ChunkFive.otf') format('otf');
    font-weight: normal;
    font-style: normal;

}

a:hover {
	opacity:0.8;
}
h1, img {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	padding: 0;
}

.parallax {
	background-image: url("images/robot fixing.jpg");
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	backgrount-repeat: no-repeat;
	background-size: cover;
}

.parallax2 {
	background-image: url("images/group picture.jpg");
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	backgrount-repeat: no-repeat;
	background-size: cover;
}

.parallax3 {
	background-image: url("images/RobertFace.jpg");
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	backgrount-repeat: no-repeat;
	background-size: cover;
}

.parallax4 {
	background-image: url("images/MLive Robot focused.png");
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	backgrount-repeat: no-repeat;
	background-size: cover;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
